<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test suite" verbose="4" parallel="tests" configfailurepolicy="continue">

    <test name="test name ">
        <classes>
            <class name="lesson6.tests.JUnit5Test"/>
        </classes>
    </test>
</suite>